# Файлы и папки Node.js
node_modules/      # Папка с установленными модулями Node.js
package-lock.json  # Файл блокировки версий пакетов npm
yarn.lock          # Файл блокировки версий пакетов Yarn

# Сгенерированные файлы
theme/css/          # Сгенерированные файлы CSS
theme/js/           # Сгенерированные файлы JavaScript
theme/img/          # Сгенерированные файлы изображений

# Файлы операционной системы
.DS_Store          # Файлы метаданных macOS
Thumbs.db           # Файлы метаданных Windows
desktop.ini         # Служебный файл Windows

# Логи и временные файлы
*.log               # Файлы журналов
*.tmp               # Временные файлы
*.cache             # Файлы кэша
*.seed              # Временные файлы или файлы данных
*.out               # Выходные файлы программ
*.pid               # Файлы идентификаторов процессов
*.gz                # Сжатые файлы
*.lcov              # Файлы покрытия кода

# Логи и результаты
pids/               # Папка с идентификаторами процессов
logs/               # Папка с журналами
results/            # Папка с результатами
lib-cov/            # Папка с результатами покрытия кода

# Другие файлы
.env                # Файл переменных окружения
npm-debug.log       # Файл отладки npm
*.csv               # Файлы CSV
*.dat               # Файлы данных
.yarn-integrity     # Файл целостности Yarn
*.tgz               # Выходные файлы 'npm pack'
.node_repl_history # История REPL Node.js

# Файлы редактора
.vscode/            # Служебные файлы VS Code
.idea/              # Служебные файлы JetBrains

# Дополнительные логи
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Отчеты диагностики (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Данные времени выполнения
*.pid.lock

# Папка покрытия, используемая такими инструментами, как istanbul
coverage

# Покрытие тестов nyc
.nyc_output

# Промежуточное хранилище Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Папка зависимостей Bower (https://bower.io/)
bower_components

# Конфигурация node-waf
.lock-wscript

# Скомпилированные бинарные дополнения (https://nodejs.org/api/addons.html)
build/Release

# Папки зависимостей
jspm_packages/
web_modules/

# Кэш TypeScript
*.tsbuildinfo

# Необязательная папка кэша npm
.npm

# Необязательный кэш eslint
.eslintcache

# Необязательный кэш stylelint
.stylelintcache

# Кэш Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Файлы переменных окружения dotenv
.env.development.local
.env.test.local
.env.production.local
.env.local

# Кэш parcel-bundler (https://parceljs.org/)
.cache
.parcel-cache

# Выходные данные сборки Next.js
.next
out

# Выходные данные сборки / генерации Nuxt.js
.nuxt
dist

# Файлы Gatsby
.cache/
# Раскомментируйте строку public, если ваш проект использует Gatsby, а не Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Выходные данные сборки vuepress
.vuepress/dist

# Временная папка и папка кэша vuepress v2.x
.temp
.cache

# Выходные данные сборки vitepress
**/.vitepress/dist

# Папка кэша vitepress
**/.vitepress/cache

# Кэш Docusaurus и сгенерированные файлы
.docusaurus

# Папки Serverless
.serverless/

# Кэш FuseBox
.fusebox/

# Локальные файлы DynamoDB
.dynamodb/

# Файл порта TernJS
.tern-port

# Хранилище версий VSCode, используемых для тестирования расширений VSCode
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*